---
title: Portfolio
layout: portfolio
permalink: /portfolio/
---
<div class="container-fluid" ng-app="portfolio" ng-controller="portfolioCtrl">
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
  <option value="tags">Tools used</option>
</select>
	<div class="row" ng-repeat="project in projects | filter:query | orderBy:orderProp">
		<div class="col-sm-6 col-md-6">
			<div class="thumbnail">
				<img ng-src="[[project.img]]" alt="[[project.alt]]">
				<div class="caption">
					<h3>[[project.name]]</h3>
					<p><a href="[[project.gitHub]]" class="btn btn-default" role="button">View in gitHub</a></p>
				</div>
			</div>
		</div>
        <div class="col-sm-6 col-md-6">
            <p>[[project.description]]</p>
        </div>
	</div>
</div>