<!DOCTYPE html>
<html>

  {% include head.html %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
  <script type="text/javascript" src="/javaScripts/vendor/angular-1.4.5/angular-animate.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <script type="text/javascript" src="/javaScripts/app.js"></script>
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
